body {
  background-image: url('INFOMATICS.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Fixes the background image */
  background-position: center;
}
